{
    "master": {
        "hostname": "master1",
        "ip": "192.168.87.130"
    },
    "node": [
        {
            "hostname": "node1",
            "ip": "192.168.87.133"
        },
        {
            "hostname": "node2",
            "ip": "192.168.87.132"
        }
    ]
}